Source: libtest-inter-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Angel Abad <angel@debian.org>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 12),
               perl
Standards-Version: 4.4.0
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libtest-inter-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libtest-inter-perl.git
Homepage: https://metacpan.org/release/Test-Inter

Package: libtest-inter-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends}
Description: framework for more readable interactive test scripts
 Test::Inter is another framework for perl developers writing test scripts. It
 is loosely inspired by Test::More, and has most of it's functionality, but it
 is not a drop-in replacement.
 .
 This framework offers the ability to write the tests in a more readable
 format, and you can access specific tests in a reasonably interactive fashion.
